asgiref==3.8.1
Django==5.2.1
django-admin-rangefilter==0.13.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
pillow==11.2.1
PyJWT==2.9.0
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
reportlab==4.4.1
num2words==0.5.14
