.medicinecard{
     background-color: #F9FAFB;
}
.processbutton{
    color: white;
    background-color: #002072;
    border-radius: 4px;
    border: none;
    padding: 10px;
}
.status{
    border: 2px;
}
.selection{
  padding-left: 10px;
  border-radius: 10px;
}

.searchInput {
    /* width: 100%; */
    /* max-width: 700px; */
    width: 650px !important;
    padding: 5px;
    border-radius: 6px;
    padding-left: 25px;
    border: 1px solid #BEBEBE;
  }
  .searchbar {
    margin-left: 23px;
    
  }
  .searchicon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
  }
