
.searchInput {
    /* width: 100%; */
    /* max-width: 700px; */
    width: 650px !important;
    padding: 5px;
    border-radius: 6px;
    padding-left: 25px;
    border: 1px solid #BEBEBE;
  }
  .searchbar {
    margin-left: 23px; 
  }
  .searchicon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
  }
  .viewSuppliers{
    border: none;
    background-color: #ffffff;
    color: #376AED;
    font-size: 16px;
  }
  .addsuppler{
    color: #ffffff;
    border-radius: 4px;
    border: none;
    background-color:#002072;
    padding: 6px 10px;
    font-size: 15px;
  }