.main{
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 50px;
    margin-bottom: 5px;
}
.factor1{
    border: 1px solid #CFDCEB;
    padding-left:50px ;
    padding-bottom: 50px;
    padding-top: 10px;
    border-radius: 4px;
    margin-bottom: 50px;
    margin-left: 20px;
}
.riskfactortext{
    text-align: center;
    color: #313131;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
}
.sumbit{
    padding-top: 35px;
    padding-bottom: 50px;
  }
  .cancel{
    border: none;
      background: none;
      background-color: white;
      color: #808080;
  }
  .riskfactor{
    text-align: center;
    color: #313131;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
  }
  .savebutton {
    background-color: #002072 !important;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 5px 65px;
  }
   .sumbit{
    padding-top: 35px;
    padding-bottom: 50px;
  }
  .cancel{
    border: none;
      background: none;
      background-color: white;
      color: #808080;
  }

 
.items{
  margin-left: 80px;
}
.checkCon input[type = checkbox] {
  border: 2px solid black!important;
}

@media (max-width: 320px){
    .main{
      width: 100%;
    }
}